/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* classes */

.info-window-modal {
  position: absolute;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #272b2e;
  z-index: 2;
}

.info-flex {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  justify-content: center;
}

.info-title {
  font-size: 35px;
  margin-bottom: 5px;
  text-decoration: none;
}

.info-text {
  padding: 10px;
}

.info-pic {
  width: 25em;
  margin: 5px;
  border: 2px solid black;
  background-color: white;
}

.calc-text {
  font-size: 35px;
  font-weight: bold;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.gallery-button-flex {
  display: flex;
  justify-content: center;
  align-items: end;
}

.hasCaughtBox {
  width: 50px !important;
  background-color: whitesmoke !important;
  padding: 10px !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  filter: grayscale(0%) !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.Lower-Z-Index {
  z-index: 0;
  position: relative;
}

.hasCaughtBox:hover {
  cursor: pointer;
}

.Gallery {
  width: 50px;
  background-color: gray;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  filter: grayscale(100%)
}

.content-box {
  background-image: url('./assets/lake.png');
  display: flex;
  max-width: 1024px;
  max-height: 1024px;
  padding: 10px;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  justify-content: space-around;
  background-position: center;
  background-repeat: no-repeat;
}

.fishing-rod-box {
  width: 100px;
  height: 100px;
  background-color: rgb(73, 73, 73);
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  justify-content: center;
}

.button {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-weight: bolder;
  margin: 5px;
  font-weight: bold;
  text-shadow: 4px  black;
  color: white;
  background-color: rgb(8, 14, 137);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 500px;
  transition: 0.2s all ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.coin-ico {
  width: 2.5em;
  margin-right: 5px;
}

.current-coins {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button-flex {
  display: flex;
  align-items: flex-end;
  justify-self: end;
}

.fishing-rod-text {
  font-size: 16px;
  font-weight: bolder;
  -webkit-text-stroke-width: 0;
  text-shadow: 1px 1px black;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.fishing-rod {
  width: 55px;
  height: 55px;
  padding: 5px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.fish-flex {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.equip-locale-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aquarium {
  width: 50em;
  display: flex;
  z-index: 4;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 25em;
  background-position: center;
  object-fit:cover;
  border-radius: 10px;
  background-size: contain;
  background-image: url("./assets/aqback.jpg");
}

.aq-boot,
.aq-minnows,
.aq-clownfish,
.aq-goldfish,
.aq-tuna,.aq-pufferfish,
.aq-koifish,
.aq-carp,
.aq-bass,
.aq-shark{
  width: 8em;
  margin: 4px;  
  z-index: 1;
  position: absolute;
}

.equip-header-flex {
justify-self: flex-start;
 align-self: flex-start;
}

.fish-box {
  width: 250px;
  background-color: rgb(64, 64, 64);
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  justify-self: center;
  align-items: center;
}

.gallery-modal,
.shop-modal,
.aquarium-modal {
  position: absolute;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
  background: linear-gradient(130deg, rgb(75, 77, 77) 50%, rgb(19, 23, 61) 50%);
}


.selected {
  border: 2px solid greenyellow !important;
}

.gallery-div {
  margin: 5px;
}

.gallery-flex {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.fish-text,
.length-text,
.record-text {
  font-size: 24px;
  color: white;
  margin: 0px;
  font-weight: bold;
}

.catch-text,
.calc-text {
  min-height: 78px;
  margin: 10px;
}

.fish-ico {
  width: 125px;
  height: 125px;
}

/* pseudo-classes */

button:hover {
  border-color: #646cff;
}

a:hover {
  color: #535bf2;
}

/* elements */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
}

div {
  color: white;
  text-shadow: 1px 1px black;
}

h1 {
  font-size: 2.2em;
  color: white;
  text-align: center;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  line-height: 1.1;
}

h2 {
  text-decoration: underline;
  color: white;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: ease all 0.25s;
}

text {
  
  color: black;
  text-shadow: 1px 1px white;
}

p {
  color: white;
  -webkit-text-stroke-color: none;
  -webkit-text-stroke-width: 0;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
}

.screensh {
  text-align: center;
}

.aq-shark {
  animation: swimCarp 4s infinite alternate-reverse;
}

.aq-bass {
  animation: swimCarp 6s infinite alternate-reverse;
}

.aq-carp {
  animation: swimCarp 4s infinite alternate-reverse;
}

.aq-koifish {
  animation: swimKoifish 2s infinite alternate-reverse;
}

.aq-pufferfish {
  animation: swimPufferfish 6s infinite alternate-reverse;
}

.aq-tuna {
  animation: swimTuna 9s infinite alternate-reverse;
}

.aq-clownfish {
  animation: swimClownfish 6s infinite alternate-reverse;
}

.aq-boot {
  animation: swimBoot 4s infinite alternate-reverse;
}

.aq-minnows {
  animation: swimMinnows 4s infinite alternate-reverse;
}

.aq-goldfish {
  animation: swimFlip 1s infinite alternate-reverse, swimGoldfish 4s infinite alternate-reverse;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes swimFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg)
  }
  100% {
    transform: rotateY(0deg)  
  }
}

@keyframes swimShark {
  0% {
    transform: translate(84%,-25%);
  }
  50% {
    transform: translate(33%, 4%);
  }
  75% {
    transform: translate(54%,86%);
  }
  100% {
    transform: translate(-75%, -46%);
  }
}

@keyframes swimBass {
  0% {
    transform: translate(1%,-82%);
  }
  50% {
    transform: translate(-4%, 91%);
  }
  75% {
    transform: translate(-6%,21%);
  }
  100% {
    transform: translate(-1%, -72%);
  }
}

@keyframes swimCarp {
  0% {
    transform: translate(-83%,19%);
  }
  50% {
    transform: translate(56%, -91%);
  }
  75% {
    transform: translate(74%,-13%);
  }
  100% {
    transform: translate(-38%, 19%);
  }
}

@keyframes swimKoifish {
  0% {
    transform: translate(27%,-38%);
  }
  50% {
    transform: translate(-72%, -65%);
  }
  75% {
    transform: translate(-68%,-100%);
  }
  100% {
    transform: translate(-2%, -44%);
  }
}

@keyframes swimPufferfish {
  0% {
    transform: translate(-80%,84%);
  }
  50% {
    transform: translate(47%, -35%);
  }
  75% {
    transform: translate(66%,52%);
  }
  100% {
    transform: translate(13%, 22%);
  }
}

@keyframes swimTuna {
  0% {
    transform: translate(-68%,32%);
  }
  50% {
    transform: translate(-73%, 38%);
  }
  75% {
    transform: translate(87%,52%);
  }
  100% {
    transform: translate(-15%, -85%);
  }
}

@keyframes swimClownfish {
  0% {
    transform: translate(-15%,35%);
  }
  50% {
    transform: translate(-78%, 1%);
  }
  75% {
    transform: translate(59%,36%);
  }
  100% {
    transform: translate(-58%, 92%);
  }
}


@keyframes swimBoot {
  0% {
    transform: translate(100%,100%);
  }
  50% {
    transform: translate(55%, 50%);
  }
  75% {
    transform: translate(-100%,-100%);
  }
  100% {
    transform: translate(25%, -100%);
  }
}

@keyframes swimMinnows {
  0% {
    transform: translate(80%,80%);
  }
  50% {
    transform: translate(23%, 12%);
  }
  75% {
    transform: translate(-200%,-55%);
  }
  100% {
    transform: translate(25%, -100%);
  }
}

@keyframes swimGoldfish {
  0% {
    transform: translate(-40%,-20%);
  }
  50% {
    transform: translate(50%, 78%);
  }
  75% {
    transform: translate(-20%,-100%);
  }
  100% {
    transform: translate(95%, -100%);
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 600px) {
/* Styles */
.gallery-flex {
  width: 80vw;
  flex-direction: row;
}

.content-box {
  width: 100vw;
}

.equip-locale-flex {
  flex-direction: column;
}

.info-pic {
  width: 10em;
}

.info-flex {
  width: 80vw;
}

.aquarium {
  width: 20em;
  z-index: 4;
  height: 25em;
  background-image: none;
  background-color: rgb(19, 137, 150);
}

.button {
  width: 7em;
  font-size: 10px;
  margin: 0;
}

.calc-text {
  font-size: 24px;
  margin: 0;
}

h2 {
  font-size: 16px;
}

.catch-text {
  font-size: 24px;
}

.fish-text {
  font-size: 16px;
}

.coin-ico {
  width: 1em;
}

.current-coins {
  font-size: 16px;
  text-shadow: 1px 1px black;
  text-align: center;
  margin: 0;
}

.length-text {
  font-size: 16px;
}

.fish-box {
  width: 10em;
}

.fishing-rod-box {
  width: 6em;
}
}