@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.calc-text {
  font-size: 35px;
  font-weight: bold;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.gallery-button-flex {
  display: flex;
  justify-content: center;
  align-items: end;
}

.hasCaughtBox {
  width: 50px !important;
  background-color: whitesmoke !important;
  padding: 10px !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  filter: grayscale(0%) !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.Lower-Z-Index {
  z-index: 0;
  position: relative;
}

.hasCaughtBox:hover {
  cursor: pointer;
}

.Gallery {
  width: 50px;
  background-color: gray;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  filter: grayscale(100%)
}

div {
  color: white;
  text-shadow: 1px 1px black;
}

h1 {
  font-size: 3.2em;
  color: white;
	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  line-height: 1.1;
}

h2 {
  text-decoration: underline;
  color: white;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.content-box {
  background-image: url('./assets/lake.png');
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  justify-content: space-around;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
}

.fishing-rod-box {
  width: 100px;
  height: 100px;
  background-color: rgb(73, 73, 73);
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  justify-content: center;
}

.button {
  width: 200px;
  height: 25px;
  font-weight: bolder;
  margin: 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(221, 221, 31);
  border: 1px solid rgb(180, 180, 30);
  border-radius: 500px;
  transition: 0.2s all ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.coin-ico {
  width: 2.5em;
  margin-right: 5px;
}

.current-coins {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button-flex {
  display: flex;
  align-items: flex-end;
  justify-self: end;
}

.fishing-rod-text {
  font-size: 16px;
  font-weight: bolder;
  -webkit-text-stroke-width: 0;
  text-shadow: 1px 1px black;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.fishing-rod {
  width: 55px;
  height: 55px;
  padding: 5px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.fish-flex {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.fish-box {
  width: 250px;
  background-color: rgb(64, 64, 64);
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  justify-self: center;
  align-items: center;
}

.gallery-modal,
.shop-modal {
  position: absolute;
  width: 40%;
  height: 80%;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
  background: linear-gradient(130deg, rgb(75, 77, 77) 50%, rgb(92, 30, 30) 50%);
}

.selected {
  border: 2px solid greenyellow !important;
}

text {
  
  color: black;
  text-shadow: 1px 1px white;
}

p {
  color: white;
  -webkit-text-stroke-color: none;
  -webkit-text-stroke-width: 0;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
}

.gallery-div {
  margin: 5px;
}

.gallery-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.fish-text,
.length-text,
.record-text {
  font-size: 24px;
  color: white;
  margin: 0px;
  font-weight: bold;
}

.catch-text
.calc-text {
  font-size: 25px;
  margin: 10px;
}

.fish-ico {
  width: 125px;
  height: 125px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}